codeponder.com {
  log / /etc/logs/requests.log "{combined}"
  proxy / web:3000
}

www.codeponder.com {
  log / /etc/logs/requests.log "{combined}"
  proxy / web:3000
}

server.codeponder.com {
  log / /etc/logs/requests.log "{combined}"
  proxy / server:4000
}

goaccess.codeponder.com {
  log / /etc/logs/requests.log "{combined}"
  root /site/goaccess
  gzip
}

goaccess.codeponder.com:7890 {
 proxy / goaccess:7890 {
   websocket
 }
}